.moveBtn {
    -fx-background-image: url('../images/upArrow.png');
    -fx-pref-width: 80px;
    -fx-pref-height: 80px;
    -fx-background-size: cover; /* dostosuj, aby obraz pokrywał całe tło przycisku */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center; /* ustawia obraz na środku przycisku */
    -fx-border-width: 0;
    -fx-opacity: 70%;

    -fx-background-color: transparent;
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 0;
    -fx-padding: 0.40em 0.60em 0.40em 0.60em; /* Adjust padding as needed */
    -fx-text-fill: -fx-text-base-color;
}

.rightBtn{
    -fx-rotate: 90deg;
}

.downBtn{
    -fx-rotate: 180deg;
}

.leftBtn{
    -fx-rotate: -90deg;
}

.mapRectangle {
    -fx-stroke: yellow;          /* Ustaw kolor obramowania na czarny */
    -fx-stroke-width: 1;        /* Ustaw grubość obramowania */
}
.mapGrid{
    -fx-background-color: black;
    -fx-opacity: 80%;
    -fx-background-radius: 10%;
}

.information{
    -fx-font-scale: 22;
    -fx-background-color: white;
}

.specialRectangle {
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}